  .dropdown {
      position: relative;
      display: inline-block;
  }

  .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 210px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      padding: 5px 16px;
      z-index:10;
      white-space: nowrap;
  }

  .dropdown:hover .dropdown-content {
      display: inline-block;
  }
  .dropdown-grid:hover .dropdown-content {
      display: inline-block;
  }
  /*This controls the list item style*/
  .dropdown-content li {
    list-style-type: none;
    padding: 5px 5px;
  }

   /*This controls the list item style*/
  .dropdown-content ul li {
    list-style-type: none;
    padding: 5px 5px;
  }

