
    .cf:before,
    .cf:after {
        content: " "; /* 1 */
        display: table; /* 2 */
    }
    .cf:after {
        clear: both;
    }
    .top {
      padding: 40px 0;
      background-color: #252525;
    }
    /*.top__img, .top__content {
      float: left;
    }*/
    .top__img {
      margin-right: 20px;
    }
    .top__content {
      margin-top: 15px;
    }
    .top__img-container{
      position: relative;
    }
    .top__badge {
      color: #fff;
      position: absolute;
      bottom: -15px;
      left: 50%;
      transform: translateX(-50%);
      background-color: #d00d2d;
      padding: 6px 12px;
      text-align: center;
      border-radius: 100%;
    }
    .manage {
      /*background-color: #efefef;*/
      padding: 10px;
      border-top: 1px solid #efefef;
      /*border-bottom: 1px solid #ccc;*/
    }
    .type--sect-title {
      padding: .5rem 1rem;
      color: rgba(74, 74, 74, 0.6);
      background-color: #efefef;
      border-radius: 3px;
    }
    hr {
      border-top: 1px solid #ddd;
    }
    .intro::first-letter {
      border: 1px solid #d00d20;
      color: #d00d20;
      float: left;
      font-size: 90px;
      line-height: 1;
      margin: 8px 20px 10px 0;
      padding: 15px 30px;
      font-weight: bold;
    }
