// // TYPEAHEAD
// //

.typeahead {
  @include clearfix();
  position: relative;

  ::-webkit-scrollbar {
      -webkit-appearance: none;
      width: 7px;
  }
  ::-webkit-scrollbar-thumb {
      border-radius: 4px;
      background-color: rgba(0,0,0,.5);
      -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
  }
}

.typeahead__search {
  position: relative;

  &::after {
    content: "\f078";
    font-family: FontAwesome;
    font-size: 12px;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #ccc;
  }
}

input[disabled] {
  background-color: #efefef;
}

.typeahead__results {
  display: none;
  position: absolute;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  max-height: 200px;
  background-color: #fefefe;
  border: 1px solid #ccc;
  width: 100%;
  z-index: 1;

  &--show {
    display: block;
  }
}

.typeahead__result {
  border-top: 1px solid #ccc;
  padding: 5px;

  &.active {
    background-color: yellow;
    color: rgba(#4a4a4a, .5);
  }
}
