// CSUN COLOR PALETTE
$red: #d00d2d;
$black: #000;
$white: #fff;
$off-white: #fafafa;

$dark-gray: #55565a;
$gray: #a9a8a9;
$light-gray: #bec6c3;

$sea-green: #82cec9;
$periwinkle: #92a1cd;
$golden-yellow: #fdbf56;
$azure: #2ca5da;
$iris: #5b4c93;
$cream: #d8d2c4;
$scarlet: #e74a37;

$blue: #2f79b9;
$yellow: #fdd64d;
$green: #82c47a;

// META SUGGESTED PALETTE
$default: #e7e7e7;
$grey: #4a4a4a;
$info: #5cdae6;
$success: #13bf63;
$warning: #fdd64d;
$danger: #d00d2d;