.side-filter {
	height:100%;
	border-left: solid thin #bec6c3;
}

.dropdown-style {
	font-size:8px;

	h5 {
		color: #a9a8a9;
		font-weight: 400;
	}

	h6 {
		font-size: 14px;
		font-weight:400;
	}

	.form__group {
	@media (min-width : 500px) {
        width:85%;
   
       }
		width:140px;
	}
	select {
		font-size: 12px;
		background-size: 8px;
	}

}

.capitalize {
    text-transform: capitalize;
}