// REPEATER
//

.repeater {
  @include clearfix();
  position: relative;
  border-bottom: 1px solid #ccc;
  padding-bottom: 25px;
  margin-bottom: 25px;
}

.repeater__links {
  // display: none;
  position: absolute;
  right: -5%;
  top: 50%;
  transform: translateY(-50%);
  width: auto;

  // .repeater:hover &{
  //   display: block;
  // }
}
