// Base class
//
// Requires one of the contextual, color modifier classes for `color` and
// `background-color`.

.tag {
  display: inline-block;
  padding: .25em .4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  color: white;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  // Empty tags collapse automatically
  &:empty {
    display: none;
  }

  &--normal {
    font-size: 100%;
  }
}
.tag--removable{
    cursor: pointer;
}
.tag--removable::after{
    content: "×";
    padding-left: 5px;
  }

// Quick fix for tags in buttons
.btn .tag {
  position: relative;
  top: -1px;
}

// scss-lint:enable QualifyingElement



